:root {
	--h1: 1.3rem;
	--lg: 1.4rem;
	--xl: 1.7rem;
	--bgColor1: #15202b;
	--bgColor2: #192734;
	--bgColor3: #22303c;
	--bgColorPopUp: #273746;
	--textColor: #eaebec;
	--darkGreen: #2abd6770;
	--green: #1f8d4d;
	--orange: #ff8903;
	--yellow: #ffdf20;
	--red: #be0404;
	--blue: oklch(82.8% 0.111 230.318);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	min-height: 100vh;
	color: var(--textColor);
}

#content {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* Header  */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid var(--green);
	padding: 1em 1.5em;
	background-color: var(--bgColor3);
}

.logo {
	display: flex;
	align-items: center;
	font-size: var(--h1);
}

.logo-img {
	height: 2.5rem;
	width: auto;
}

.sidebar-img {
	filter: invert(1);
	cursor: pointer;
}

.container {
	flex: 1;
	display: flex;
	background-color: var(--bgColor2);
}

/* Sidebar  */

.sidebar {
	background-color: var(--bgColor1);
	min-width: 350px;
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 1.5em 1.2em;
	user-select: none;
}

.sidebar-section {
	display: flex;
	flex-direction: column;
	/* gap: 1em; */
}

.sidebar-section > h3 {
	font-size: var(--lg);
	border-bottom: 2px solid var(--textColor);
}

.sidebar-section img {
	width: 30px;
	height: auto;
}

.nav {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 1em;
}

.nav button {
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 10px;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 1.2rem;
	color: var(--textColor);
	cursor: pointer;
	border: none;
	background-color: transparent;
}

.nav button:hover {
	background-color: var(--bgColorPopUp);
}

.active {
	background-color: var(--darkGreen) !important;
	border-left: 3px solid var(--green) !important;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

.add-project {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5em;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 1.2rem;
	color: var(--textColor);
	cursor: pointer;
	border: none;
	background-color: transparent;
}

.add-project > img {
	filter: invert(1);
}

.add-project:hover {
	background-color: var(--bgColorPopUp);
}

/* Main Section  */

.main-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 2em 3em;
}

.task-name {
	padding: 0.5em 0.5em;
	background-color: var(--green);
	font-size: 2.5rem;
	font-weight: 600;
	border-radius: 3px;
}

.no-task {
	text-align: center;
	font-size: var(--xl);
	font-weight: 600;
	margin-top: 1em;
}

/* Task cards  */

.task-card {
	border: 1px solid var(--textColor);
	margin: 1.5em 0;
	border-radius: 1px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em 1em;
	cursor: pointer;
	font-weight: 600;
}

.task-card:hover {
	background-color: var(--bgColor1);
}

.unchecked {
	border: 2px solid var(--textColor);
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

.task-card-left,
.task-card-right {
	display: flex;
	align-items: center;
	gap: 10px;
}

.due-date,
.details {
	padding: 5px;
	border: 1px solid var(--textColor);
	border-radius: 10px;
}

.mark-important,
.more-option {
	font-size: 1.5rem;
}

.mark-important:hover {
	background-color: var(--bgColorPopUp);
}

.high-priority {
	border: 1px solid var(--orange);
}

.medium-priority {
	border: 1px solid var(--yellow);
}

.small-priority {
	border: 1px solid var(--blue);
}

.completed {
	border: 1px solid var(--green) !important;
	text-decoration: line-through;
}

/* Task options  */

.task-more-option {
	position: relative;
}

.task-options-list {
	padding: 5px;
	flex-direction: column;
	background-color: var(--bgColorPopUp);
	position: absolute;
	bottom: 35px;
	right: 5px;
	border-radius: 5px;
	max-height: 0;
	opacity: 0;
	transform-origin: bottom;
	transform: scaleY(0);
	transition: all 0.2s ease;
}

.task-options-list.visible {
	max-height: 100px;
	transform: scaleY(1);
	opacity: 1;
}

.options-item {
	width: 100%;
	font-size: 1.1rem;
	text-align: left;
	padding: 10px;
	cursor: pointer;
	border: none;
	color: var(--textColor);
	background-color: transparent;
	border-radius: 5px;
}

.options-item:hover {
	background-color: var(--bgColor1);
}

/* Add Task Button  */

.add-task {
	color: var(--textColor);
	font-size: 1.1rem;
	background-color: transparent;
	border: none;
	border-radius: 1px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0.5em 0 0.5em 3em;
	gap: 1.5em;
	cursor: pointer;
	font-weight: 500;
}

.add-task > img {
	width: 30px;
	height: auto;
	filter: invert(1);
}

.add-task:hover {
	background-color: var(--bgColor1);
}

/* Project cards */

.projects-list {
	display: flex;
	flex-direction: column;
	font-size: 1.2rem;
	font-weight: 600;
	margin: 1em 0 0.5em 0;
}

.project-card {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	padding: 10px 1em;
	border-radius: 5px;
}

.project-card:hover {
	background-color: var(--bgColorPopUp);
}

.project-info {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.project-icon {
	font-size: 1rem;
}

/* Project Options  */

.project-more-option {
	position: relative;
}

.project-options-list {
	padding: 5px;
	flex-direction: column;
	background-color: var(--bgColorPopUp);
	position: absolute;
	bottom: 35px;
	right: 5px;
	border-radius: 5px;
	max-height: 0;
	opacity: 0;
	transform-origin: bottom;
	transform: scaleY(0);
	transition: all 0.2s ease;
}

.project-options-list.visible {
	max-height: 100px;
	transform: scaleY(1);
	opacity: 1;
}

.project-options-list > .options-item {
	width: 100%;
	font-size: 1.1rem;
	text-align: left;
	padding: 10px;
	cursor: pointer;
	border: none;
	color: var(--textColor);
	background-color: transparent;
	border-radius: 5px;
}

.project-options-list > .options-item:hover {
	background-color: var(--bgColor1);
}

/* Project Form  */

.project-form > form {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	gap: 10px;
	cursor: pointer;
}

.project-form:hover {
	background-color: var(--bgColorPopUp);
}

.project-input-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 1.2em;
	gap: 0.5em;
}

.project-input-container > input {
	width: 100%;
	font-size: 1.1rem;
	padding: 0.3em 10px;
	border-radius: 3px;
}

.projectForm-btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	margin-bottom: 1em;
}

.projectForm-btn,
.taskForm-btn {
	font-size: 1rem;
	font-weight: 600;
	padding: 0.3em 1em;
	cursor: pointer;
	color: var(--textColor);
	border: none;
	border-radius: 3px;
}

.projectForm-btn[data-action="add"],
.taskForm-btn[data-action="add"] {
	background-color: var(--green);
}

.projectForm-btn[data-action="cancel"],
.taskForm-btn[data-action="cancel"] {
	background-color: var(--red);
}

.projectForm-btn:hover,
.taskForm-btn:hover {
	opacity: 0.9;
}

/* Task Form  */

.task-form > form {
	background-color: var(--bgColor1);
	font-size: 1.2rem;
	padding: 1em 1em 5px 1em;
	margin-bottom: 1em;
}

.task-input-container {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.task-input-container > input,
textarea {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1rem;
	padding: 10px 5px;
}

.task-input-container > textarea {
	resize: none;
}

.task-input-container ~ .projectForm-btn-container {
	margin: 1em 0;
}

/* Project form and Task form toggle styles  */

.project-form,
.task-form {
	max-height: 0;
	transform: scaleY(0);
	opacity: 0;
	transform-origin: top;
	transition: transform 0.3s ease, opacity 0.3s ease, max-height 0.3s ease;
}

.project-form.visible,
.task-form.visible {
	max-height: 500px;
	transform: scaleY(1);
	opacity: 1;
}
